@{
    ViewBag.Title = "Online Youtube Video Converter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="col-12 text-left">
    <div class="teasers__item">
        <h1>What does a YouTube mp3 converter do? How to use this site ?</h1>
        <p>
            &emsp;Our site serves as the most ideal YouTube MP3 converter.
            We always use the best quality videos to get the best quality MP3.
        </p>
    </div>
    <div class="teasers__item">
        <h3>
            Works on every operating system
        </h3>
        <p>
            &emsp;  YouTube mp3 download site tries to appeal to every user who downloads music from YouTube.
            YouTube converter works perfectly in Linux, MacOS and Windows operating systems. Paste the video URL
            and enjoy high quality SONGS downloaded to your desktop!
        </p>
    </div>
    <div class="teasers__item">
        <h3>Ready parts</h3>
        <p>
            &emsp;  YouTube video converter, YouTube videos in MP3 formats such as downloading and converting perfectly performs.
            The mp3 format is usually quite useful, especially when you want to listen to something or do not want to watch a video.
            With this YouTube converter, it's easy to listen to mp3 files on your mp3 player, phone or personal computer.
        </p><div class="teasers__item">
            <h3>Converts any YouTube video!</h3>
            <p>&emsp;  YouTube mp3 download will be converted without a program and downloaded to your computer as audio track.</p>
        </div>
    </div>
    <div class="teasers__item">
        <h2>How to use a free YouTube mp3 converter</h2>
        <ul class="list-group" style="margin-left:10%">
            <li>Copy the YouTube video link and paste it into the input Media Link field</li>
            <li>Press "Convert"</li>
        </ul>
    </div>
</div>